@page "/"

@if (null != this.World)
{
    <p>Generation: @this.World.Generation, Population: @this.World.Population</p>
    <button @onclick="Reset">Reset</button>

    <div id="container">
        @for (var y = 0; y != this.World.Cells.GetLength(1); ++y)
        {
            <div class="row">
                @for (var x= 0; x != this.World.Cells.GetLength(0); ++x)
                {   
                    var x1 = x; var y1 = y;
                    
                    <div @onclick="(e => SetCellAlive(x1,y1))" class="cell @(this.World.Cells[x, y] ? "alive" : "")">&nbsp;</div>
                }
            </div>
        }
    </div>
}
@code
{
    [Inject]
    public World World { get; set; }

    protected override void OnInitialized()
    {
        World.OnChange += Refresh;
    }

    private void Reset(MouseEventArgs e)
    {
        this.World.Reset();
    }

    private void SetCellAlive(int x, int y)
    {
        this.World.Cells[x, y] = true;
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        World.OnChange -= Refresh;
    }
}